<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

 
      <%= @weeklynews %>
 

      <br />
      <hr color="#333333"/>
      <br />
      Manage all of your email alerts at <a href="http://crunchalert.com">CrunchAlert.com</a>. 
  </body>
</html>
