<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>



- newsfeed checkbox
- form for crunchbase profiles



<%= link_to 'Account', edit_user_path(@user) %>
<%= link_to 'Logout', logout_path, :method => :delete %>
