<div class="footer">
  <%= link_to "About", about_path %> | <a href="http://github.com/sayem/crunchalert" target="_blank">CrunchAlert on Github</a> | <a href="mailto:contact@crunchalert.com">contact@crunchalert.com</a> | <span style="color:red">&copy; 2011 CrunchAlert</span>
</div>
