<div id="crunchbase-search">
  <span class="user-header">Add CrunchAlert</span>
  <div id="wait"><%= image_tag("loader.gif", :alt => "loader") %></div>
  <form id="form-crunchbase" method="post" name="crunchbase">
    <div id="crunchbase-name">
      <span style="font-weight: bold">CrunchBase name:</span> <input id='crunchbase' type='text' title='enter a crunchbase profile name' name='crunchbase' />
    </div>
    <div id="cbase-type">
      <span style="font-weight:bold">Type:</span>
      <input type="radio" name="cbase" value="company">Company
      <input type="radio" name="cbase" value="person">Person
      <input type="radio" name="cbase" value="financial-organization">Venture Fund
      <input type="submit" value="Submit">
    </div>
  </form>
</div>
