
<form id="form-crunchnews" method="post" name="crunchbase">

  <input type="radio" name="news" value="true">yup<br>
  <input type="radio" name="news" value="false">nope<br>

  <input type="submit" id="search-crunchbase" value="Submit">

  <select id='freq' name='freq'>
    <option value='true'>Daily</option>
    <option value='false'>Weekly</option>
  </select>

</form>
