<div id="crunchnews">
  <span class="user-header">News Digest</span>
  <form id="form-crunchnews" method="post" name="crunchnews">
    <div id="news-check">
    </div>
    <div id="news-freq">
      <input type="submit" id="submit-crunchnews" value="Submit">
    </div>
  </form>
</div>
