<div id="popular">
  <span class="alert-header">Popular CrunchAlerts</span>
  <div id="popular-alerts">
    <% @popular.each do |popular| %>
    <% alert = Alert.find_by_content(popular[0]) %>
    <% name = alert.content.gsub(/[\s\.]/,'-') %>
    <a href=<%= "http://crunchbase.com/#{alert.content_type}/#{name}" %> title=<%= alert.content %>><%= image_tag(Picture.find_by_content(alert.content).url, :alt => alert.content, :class => "crunchalert-list") %></a>
    <% end%>
  </div>
</div>
