
<div id="popular">

<b>Most Popular CrunchAlerts</b>

<% @popular.each do |popular| %>
<% alert = Alert.find_by_content(popular[0]) %>
<% name = alert.content.gsub(/[\s\.]/,'-') %>
<a href=<%= "http://crunchbase.com/#{alert.content_type}/#{name}" %> title=<%= alert.content %>><%= image_tag(Picture.find_by_content(alert.content).url, :alt => alert.content) %></a>
<br />
<% end%>

</div>
