

  <div class="recent">
    Recent CrunchAlerts

    <ul>
      <li>Google</li>
      <li>Facebook</li>
      <li>Twitter</li>
      <li>Justin Beiber</li>
    </ul>

  </div>



<!--

logged in: Your CrunchAlerts, Logout, Account



<%= form_for :user do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>


  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

-->
