
<% if signed_in? %>

<%= render 'shared/crunchbase_form' %>

<%= render 'shared/news_form' %>

<% @alerts.each do |alert| %>

 <div class="crunchalert">
  <%= image_tag(Picture.find_by_content(alert.content)[:url]) %>
  <%=h alert.content.capitalize %>
  <span class="edit_alert">Edit</span> 
 </div>

<% end %>

<% end %>
