<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <% @dailyalerts.each do |alert| %>

      <%= raw(alert) %>

    <% end %>

  </body>
</html>
