<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <% @dailyalerts.each do |alert| %>

    <%= raw("<p>#{alert}</p>") %>

    <% end %>

    <br />
    <hr color="#333333"/>
    <br />
      Manage your email alerts at <a href="http://crunchalert.com">CrunchAlert.com</a>. 
  </body>
</html>
