<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <% @dailynews.each do |news| %>

      <%= raw("<p>#{news}</p>") %>

    <% end %>

  </body>
</html>
