<%= render 'shared/head' -%>
<body>
<div class="container">
<%= render 'shared/header' -%>
<div class="center-container">




<ul class="blurb">




</ul>

<hr />


<%= yield -%>







</div>
<%= render 'shared/footer' -%>
</div>
</body>
</html>
