<%= render 'shared/head' -%>
<body>
  <div class="container">
    <%= render 'shared/header' -%>
    <div class="center-container">
      <%= yield -%>
    </div>
  </div>
  <%= render 'shared/analytics' -%>
</body>
</html>
